html, body, #root {
  padding: 0em 1em 0em 1em;
  margin: 0;
  height:150vh;
  background-color: black;
  color:white;
  font-family: 'Cormorant Garamond', serif;
  
}

header {
  height:20%;
  margin-bottom: 1em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

.hr1 {
  border: .1em solid #FB3640
}

nav { 

  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  height: 60px;
} 

label {
  font-size: larger
}

.home {
  display:flex;
  gap:2em;
  width:100%;
  height:75%;
  width:auto;
}

.skater {
  width: auto;

}

.skaterCards {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  
}

.brandCards {
  width: 500px;
  height:500px;
  border-radius: 20px;
  object-fit: contain;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 75px;
}

.title:hover {
  color:#FB3640
}

.subtitle {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
}

.subtitle2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search {
  font-family: fantasy;
}

.new-skater-form {
  margin-top: 120px;
  text-align: right;
  border-bottom:crimson
}

.button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
}

.button:hover {
  background-color: #FB3640;
}

.newskater {
  font-family: fantasy;
}

.proskaters {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.skatername {
  font-family: fantasy;
  font-size: xx-large;
}

.skateBrands {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 120px;
}

.brandname {
  font-family: fantasy;
  font-size: xx-large;
}

.yourfeed {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 120px;
  text-decoration: underline;
}

.feed {
  text-align: center;
}

.brandfeedimage {
  object-fit: contain;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
  max-height:600px;
  max-width:600px;
}

.home-image {
  margin-top: 65px ;
  width:1630px;
  box-sizing: border-box;
  filter: blur(5px);
  border-radius: 20px;
  
}

.yourskaterfeed {
  max-width: 400px;
  margin-left: 500px;
  margin-right: 300px;
  text-align: center;
}

.yourbrandfeed {
  max-width: 400px;
  margin-left: 500px;
  margin-right: 300px;
  text-align: center;
}

.skaterfeedimage {
  object-fit: contain;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
  max-height:600px;
  max-width:600px;
}

.skaterfollowbutton {
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  text-decoration: underline;
  width: 100px;
}

.skaterfollowbutton:hover {
  background-color: #FB3640;
}

.gnarlywipeoutbutton {
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;
}

.gnarlywipeoutbutton:hover {
  text-transform: uppercase;
  text-decoration: line-through;
  text-decoration-color: #FB3640;
}

.hr2 {
  width: fit-content;
}

.followbrandbutton {
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  text-decoration: underline;
  width: 100px;
}

.followbrandbutton:hover {
  background-color: aqua;
}