html, body, #root {
  padding: 0em 1em 0em 1em;
  margin: 0;
  height:150vh;
  background-color: black;
  color:white;
  font-family: 'Cormorant Garamond', serif;

}

header {
  height:20%;
  margin-bottom: 1em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

hr {
  border: .1em solid #FB3640
}

nav { 

  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  height: 60px;
} 

label {
  font-size: larger
}

.home {
  display:flex;
  gap:2em;
  width:100%;
  height:75%;
  width:auto;
}

.skater {
  width: auto;

}

.skaterCards {
  width: 500px;
  height: 500px;
}

.brandCards {
  width: 500px;
  height:500px;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 75px;
}

.subtitle {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
}

.subtitle2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search {
  font-family: fantasy;
}

.new-skater-form {
  margin-top: 120px;
  text-align: right;
  border-bottom:crimson
}

.button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
}

.newskater {
  font-family: fantasy;
}

.proskaters {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.skatername {
  font-family: fantasy;
}

.skateBrands {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 120px;
}

.brandname {
  font-family: fantasy;
}

.yourfeed {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 120px;
}

.feed {
  text-align: center;
}

.brandfeedimage {
  max-width: 800px;
}